#
# package.config note: this file is to defined what deb your need to install default from sdk dir:debian/packages
# package.config priority: target/${ic}/debian/${board}/package.config > target/${ic}/debian/package.config > debian/package.config
# package.config used: package list must line by line between equal sign"="
#
#pkg_file_list format:
#pkg_file_list=(
#key1=test1.deb
#key2=test2.deb
#)
#rule1:key1 is the directory in debian/packages/${ARCH}/; key2 can be the same with key1
#rule2:test1.deb is the deb file name; find test1.dtb from key1 dir to install to rootfs dir

pkg_file_list=(
libcedarc=libcedarc-dev_1.0.0_arm64.deb
xserver=xserver-xorg-mesa-g57_1.21.1-2_arm64.deb
)

firmware_list=(
PACKAGE_AIC8800_SDIO_FIRMWARE
)
